<h1 mat-dialog-title style='text-align: center;'>რეგისტრაცია</h1>
<!--<h2 style='color:#ad0a0a;text-align: center;'>{{errorMessage}}</h2>-->
<div mat-dialog-content>
  <mat-grid-list cols="1" rowHeight="80px">
    <form [formGroup]='registerMainFormGroup'>

      <mat-grid-tile>
        <mat-form-field class="add-user-form-item">
          <mat-label>მეილი</mat-label>
          <input matInput formControlName="email" autocomplete="off" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="add-user-form-item">
          <mat-label>სახელი</mat-label>
          <input matInput formControlName='firstName' autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="add-user-form-item">
          <mat-label>გვარი</mat-label>
          <input matInput formControlName='lastName' autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="add-user-form-item">
          <mat-label>იბან</mat-label>
          <input matInput formControlName='iban' autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="add-user-form-item">
          <mat-label>პირადი ნომერი</mat-label>
          <input matInput formControlName='personalNumber' autocomplete="off" appNumbersOnly maxlength="11">
        </mat-form-field>
      </mat-grid-tile>



    </form>
  </mat-grid-list>
</div>
<div mat-dialog-actions class="DialogButtonsWrapper">
  <button mat-flat-button color='primary' (click)="applyData()" [loading]="buttonLoading">დასტური
  </button>
  <button mat-flat-button color='warn' (click)="closeDialog()">დახურვა</button>
</div>
