
<h1 mat-dialog-title style='text-align: center;'>დააყენეთ პაროლი</h1>
<mat-card>
  <mat-card-content>
    <form [formGroup]="userDataFormGroup" >
      <!--        <mat-error *ngIf="loginInvalid">-->
      <!--          The username and password were not recognised-->
      <!--        </mat-error>-->
      <mat-form-field class="full-width-input">
        <mat-label>პაროლი</mat-label>
        <input matInput type="password" formControlName="password" autocomplete="off" required>
      </mat-form-field>
      <div mat-dialog-actions class="DialogButtonsWrapper">
        <button mat-flat-button color='primary' (click)="confirmUser()">
          ავტორიზაცია
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>



