.mat-chip-list-wrapper {
  display: flex;
  justify-content: flex-end;
}

.example-card {
  max-width: 400px;
}

img{
  max-height: 250px;
}


.mat-action {
  margin-top: 20px;
  text-align: center;
}
