<div class="center-block mt">
  <button mat-raised-button color="accent" (click)="openDialog()" *ngIf="authDataService.loggedIn$ | async">
    <strong>+</strong> ახალი პროდუქტის დამატება
  </button>
</div>


<mat-grid-list cols="4" rowHeight="100px">

  <mat-grid-tile *ngFor="let product of productList" [colspan]="4"
                 [rowspan]="5">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{product.productName}}</mat-card-title>
        <mat-card-subtitle>{{product.email}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{product.imageUrl}}" alt="Image of product">
      <mat-chip-list>
        <div class="mat-chip-list-wrapper">
          <mat-chip color="accent" selected>ფასი : {{product.productPrice}}₾</mat-chip>
          <mat-chip color="accent" selected>მარაგი : {{product.productQuantity}}ც</mat-chip>
        </div>
      </mat-chip-list>
      <mat-card-actions class="mat-action">
        <button *ngIf="email != product.email" mat-raised-button color="primary">ყიდვა</button>
        <button *ngIf="email == product.email" mat-raised-button color="warn" (click)="openDialog(product.productId)">რედაქტირება</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
